html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 62.5%;
}

.credit-card {
    display: block;
    width: 320px;
    height: 200px;
    background-color: #285DCD;
    overflow: hidden;
    border-radius: 10px;
}

.credit-card-front {
    margin-bottom: 30px;
}

.credit-card-front > * {
    margin-left: 20px;
}

.credit-card-front .number {
    margin-top: 85px;
    font-size: 3em;
}

.credit-card-back {

}