html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credit-card {
    display: block;
    width: 340px;
    height: 200px;
    background-color: #285DCD;
    overflow: hidden;
    border-radius: 10px;
}

.credit-card-front {
    margin-bottom: 30px;
}